.ItemsExpenses {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 15px;

    @media screen and (max-width: 770px) {
        height: auto;
        justify-content: center;
    }

    &-Diagram {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        @media screen and (max-width: 770px) {
            display: none;
        }
    }

    &-Item {
        position: relative;
        height: 335px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 60px;
        color: rgba(22, 22, 22, 0.932);
        font-size: 16px;
        font-weight: 500;

        @media screen and (max-width: 770px) {
            top: 0px;
            height: 120px;
            margin: 10px;
        }

        @media screen and (max-width: 430px) {
            height: 110px;
        }
    }

    &-Name {

        @media screen and (max-width: 430px) {
            font-size: 12px;
        }
    }

    &-WrapForIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        background-color: rgb(35, 145, 31);
        border-radius: 50%;
        margin: 5px 0;
        cursor: pointer;
        transition: all .15s ease-in-out;
        opacity: 0.95;

        &:hover {
            transform: scale(1.03);
            opacity: 1;
            transition: all .15s ease-in-out;
        }

        @media screen and (max-width: 430px) {
            width: 55px;
            height: 55px;

            &:hover {
                transform: none;
            }
        }

        &__AddExpenseBtn {
            @media screen and (max-width: 430px) {
                height: 56px;
            }
        }
    }

    &-Icon {
        position: relative;
        width: 30px;
        height: 30px;
    }

    &-Money {
        & span {
            font-weight: normal;
            font-size: 14px;
        }
    }

}